.education{
    background:#ffffff;
}

.timeline{
    position:relative;
    max-width:900px;
    margin:auto;
}

.timeline::before{
    content:"";
    position:absolute;
    left:22px;
    top:0;
    width:4px;
    height:100%;
    background:#2563eb;
}

.timeline-item{
    display:flex;
    margin-bottom:50px;
}

.timeline-icon{
    width:45px;
    height:45px;
    background:#2563eb;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:25px;
    z-index:2;
}

.timeline-content{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    flex:1;
}

.timeline-content h3{
    color:#2563eb;
}

.timeline-content span{
    color:gray;
}
.sub-section {
    margin-top: 50px;
}


.sub-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}