.navbar-custom{

    position:sticky;

    top:0;

    z-index:1000;

    background:white;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 0;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#2563eb;

}

.nav-links{

    display:flex;

    gap:35px;

    list-style:none;

}

.nav-links a{

    color:#1e293b;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:#2563eb;

}

.resume-btn{

    background:#2563eb;

    color:white;

    padding:10px 22px;

    border-radius:25px;

    transition:.3s;

}

.resume-btn:hover{

    background:#1d4ed8;

    color:white;

}

@media(max-width:768px){

.nav-links{

display:none;

}

.logo{

font-size:22px;

}

}